@import "_variables.scss";
@import "_mixins.scss";

@import url("http://fonts.googleapis.com/css?family=Roboto:400,400i|Roboto+Mono:400,700|News+Cycle:700");

html, body {
  height: 100%;
}

body {
  width: 100%;
  font-family: $font-body;
  background-color: $color-green-light;
  color: $color-gray;
}

.page {
  position: relative;
  height: auto !important;
  background-color: $color-white;
  min-height: 100%;
  min-width: $main-column-min-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 700;
  color: $color-brown;
  line-height: $header-line-height;
}

h1 {
  margin: 0 0 $section-vmargin;
  font-size: 260%;
}

h2, h3, h4, h5, h6 {
  margin: $section-vmargin 0 $para-vmargin;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 140%;
}

em {
  font-style: italic;
}

li {
  margin: 0.5em 0;
  list-style-position: outside;
}

p {
  line-height: $para-line-height;
  margin: $para-vmargin 0;
}

code {
  font-family: $font-code;
  font-size: 90%;
  line-height: $code-line-height;
}

sup {
  font-size: 80%;
  vertical-align: super;
}

a {
  color: $color-blue-light;
  text-decoration: underline;
  &:visited, &:hover, &:active {
    color: $color-blue-dark;
  }
}

figure {
  margin: 2 * $para-vmargin 0;

  & > & {
    margin: 0;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-bottom: $para-vmargin/2;
}

.highlight {
  overflow-x: auto;
  padding: 0.5em 0;
  border-top: 1px solid $color-green-dark;
  border-bottom: 1px solid $color-green-dark;
}

@media (min-width: $section-max-width - 2 * $section-hmargin) {
  .inline-right {
    float: right;
    margin-left: $para-vmargin;
    margin-bottom: $para-vmargin;
  }
}

.banner {
  background-color: $color-green-light;
  border-bottom: 1px solid $color-green-dark;
  padding: ($section-vmargin - 10px) $section-hmargin;
  header {
    @include centered;
    @include fluid_width($section-min-width, $section-max-width);
    h1 {
      margin: 0;
      font-size: 140%;
      position: relative;
      a {
        color: $color-brown;
        text-decoration: none;
        @media (min-width: $main-column-max-width + 2 * $section-hmargin) {
          &:hover:before {
            content: "<<";
            position: absolute;
            left: -1.5em;
            animation: banner-link-back-appear 0.3s ease-in;
          }
          @keyframes banner-link-back-appear {
            from {
              transform: translateX(0.75em) rotateY(90deg);
            }
            to {
              transform: translateX(0) rotateY(0deg);
            }
          }
        }
      }
    }
  }
}

.main {
  @include centered;
  @include fluid_width($section-min-width, $section-max-width);
  padding: (2 * $section-vmargin) $section-hmargin ($footer-height + 2 * $section-vmargin);
}

.page > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-green-light;
  border-top: 1px solid $color-green-dark;
  display: table;
  .disclaimer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 $section-hmargin;
    color: $color-brown;
    p {
      margin: $para-vmargin/4 0;
    }
  }
  .copyright {
    font-size: 80%;
  }
  .privacy_policy {
    font-size: 70%;
  }
}
