@use "_variables.scss";
@use "_mixins.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i|Roboto+Mono:400,700|News+Cycle:700&display=swap");

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: variables.$font-body;
  background-color: variables.$color-green-light;
  color: variables.$color-gray-dark;
}

.page {
  position: relative;
  height: auto !important;
  background-color: variables.$color-white;
  min-height: 100%;
  min-width: variables.$main-column-min-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-header;
  font-weight: 700;
  color: variables.$color-brown;
  line-height: variables.$header-line-height;
}

h1 {
  margin: 0 0 variables.$section-vmargin;
  font-size: 260%;
}

h2,
h3,
h4,
h5,
h6 {
  margin: variables.$section-vmargin 0 variables.$para-vmargin;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 140%;
}

em {
  font-style: italic;
}

li {
  margin: variables.$para-vmargin 0;
  line-height: variables.$para-line-height;
  list-style-position: outside;
}

p {
  line-height: variables.$para-line-height;
  margin: variables.$para-vmargin 0;

  a {
    padding: variables.$inline-hl-padding;

    &:hover,
    &:hover code,
    &:active,
    &:active code {
      background-color: variables.$color-green-light;
    }
  }

  code {
    background-color: variables.$color-gray-light1;
    padding: variables.$inline-hl-padding;
  }
}

pre {
  line-height: variables.$code-line-height;
}

code {
  font-family: variables.$font-code;
  font-size: 90%;
}

sup {
  font-size: 80%;
  vertical-align: super;
}

a {
  color: variables.$color-teal-light;
  text-decoration: underline;

  &:visited {
    color: variables.$color-gray-dark;
  }
}

blockquote {
  border-left: 2px solid variables.$color-gray-light2;
  padding-left: 1em;
  font-style: italic;
}

figure {
  margin: variables.$para-vmargin 0;

  & > & {
    margin: 0;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-bottom: calc(variables.$para-vmargin/2);
}

.highlight {
  overflow-x: auto;
  padding: 0.5em 0;
  border-top: 1px solid variables.$color-green-dark;
  border-bottom: 1px solid variables.$color-green-dark;
}

img {
  display: block;
  @include mixins.centered;
}

tbody {
  border-top: 1px solid variables.$color-green-dark;
  border-bottom: 1px solid variables.$color-green-dark;

  tr:nth-child(even) {
    background-color: variables.$color-gray-light1;
  }
}

th {
  font-weight: 700;
}

th,
td {
  padding: 0.5em;
}

.wide-table {
  overflow-x: auto;
}

.code-table td {
  font-family: variables.$font-code;
  font-size: 90%;
}

@media (min-width: variables.$section-max-width - 2 * variables.$section-hmargin) {
  .inline-right {
    float: right;
    margin-left: variables.$para-vmargin;
    margin-bottom: variables.$para-vmargin;
  }
}

.banner {
  background-color: variables.$color-green-light;
  border-bottom: 1px solid variables.$color-green-dark;
  padding: (variables.$section-vmargin - 10px) variables.$section-hmargin;

  header {
    @include mixins.centered;
    @include mixins.fluid_width(variables.$section-min-width, variables.$section-max-width);

    h1 {
      margin: 0;
      font-size: 140%;
      position: relative;

      a {
        color: variables.$color-brown;
        text-decoration: none;

        @media (min-width: variables.$main-column-max-width + 2 * variables.$section-hmargin) {
          &:hover:before {
            content: "<<";
            position: absolute;
            left: -1.5em;
            animation: banner-link-back-appear 0.3s ease-in;
          }

          @keyframes banner-link-back-appear {
            from {
              transform: translateX(0.75em) rotateY(90deg);
            }

            to {
              transform: translateX(0) rotateY(0deg);
            }
          }
        }
      }
    }
  }
}

.main {
  @include mixins.centered;
  @include mixins.fluid_width(variables.$section-min-width, variables.$section-max-width);
  padding: (2 * variables.$section-vmargin) variables.$section-hmargin
    (variables.$footer-height + 2 * variables.$section-vmargin);
}

.page > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: variables.$footer-height;
  background-color: variables.$color-green-light;
  border-top: 1px solid variables.$color-green-dark;
  display: table;

  .legal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 variables.$section-hmargin;
    color: variables.$color-brown;

    p {
      margin: calc(variables.$para-vmargin/4) 0;
    }
  }

  .copyright {
    font-size: 80%;
  }
}
