@import "_variables.scss";

// Reference: https://pygments.org/docs/tokens/

.highlight {
  $color-hl-base: $color-gray-dark;
  $color-hl-gray3: lighten($color-black, 30%);
  $color-hl-gray4: lighten($color-black, 40%);
  $color-hl-red1: #aa0000;
  $color-hl-red2: #990000;
  $color-hl-red6: #ffaaaa;
  $color-hl-red8: #ffdddd;
  $color-hl-green4: #ddffdd;
  $color-hl-green3: #aaffaa;
  $color-hl-green2: #207c37;
  $color-hl-blue8: #277772;
  $color-hl-teal4: #0f5f6c;
  $color-hl-teal3: #0a5e6c;
  $color-hl-blue4: #445588;
  $color-hl-violet4: #990073;

  .c { color: $color-hl-gray4; font-style: italic; } /* Comment */
  .cm { color: $color-hl-gray4; font-style: italic; } /* Comment.Multiline */
  .cp { color: $color-hl-gray3; font-weight: 700; } /* Comment.Preproc */
  .c1 { color: $color-hl-gray4; font-style: italic; } /* Comment.Single */
  .cs { color: $color-hl-gray3; font-weight: 700; font-style: italic; } /* Comment.Special */
  .err { color: $color-hl-red1; } /* Error */
  .gd { background-color: $color-hl-red8; } /* Generic.Deleted */
  .gd .x { color: $color-hl-base; background-color: $color-hl-red6; } /* Generic.Deleted.Specific */
  .ge { font-style: italic; } /* Generic.Emph */
  .gr { color: $color-hl-red1; } /* Generic.Error */
  .gh { color: $color-hl-gray3; } /* Generic.Heading */
  .gi { background-color: $color-hl-green4; } /* Generic.Inserted */
  .gi .x { color: $color-hl-base; background-color: $color-hl-green3; } /* Generic.Inserted.Specific */
  .go { color: $color-hl-gray3; } /* Generic.Output */
  .gp { color: $color-hl-gray3; } /* Generic.Prompt */
  .gs { font-weight: 700; } /* Generic.Strong */
  .gu { } /* Generic.Subheading */
  .gt { color: $color-hl-red1; } /* Generic.Traceback */
  .k { font-weight: 700; } /* Keyword */
  .kc { font-weight: 700; } /* Keyword.Constant */
  .kd { font-weight: 700; } /* Keyword.Declaration */
  .kp { font-weight: 700; } /* Keyword.Pseudo */
  .kr { font-weight: 700; } /* Keyword.Reserved */
  .kt { font-weight: 700; } /* Keyword.Type */
  .m { color: $color-hl-blue8; } /* Literal.Number */
  .o { font-weight: 700; } /* Operator */
  .p { } /* Punctuation */
  .s { color: $color-hl-red1; } /* Literal.String */
  .na { color: $color-hl-teal4; } /* Name.Attribute */
  .nb { color: $color-hl-teal3; } /* Name.Builtin */
  .nc { color: $color-hl-blue4; font-weight: 700; } /* Name.Class */
  .no { color: $color-hl-teal4; } /* Name.Constant */
  .ni { color: $color-hl-violet4; } /* Name.Entity */
  .ne { color: $color-hl-red2; font-weight: 700; } /* Name.Exception */
  .nf { color: $color-hl-red2; font-weight: 700; } /* Name.Function */
  .nn { } /* Name.Namespace */
  .nt { color: $color-hl-teal3; } /* Name.Tag */
  .nv { color: $color-hl-teal4; } /* Name.Variable */
  .ow { font-weight: bold; } /* Operator.Word */
  .w { } /* Text.Whitespace */
  .mf { color: $color-hl-blue8; } /* Literal.Number.Float */
  .mh { color: $color-hl-blue8; } /* Literal.Number.Hex */
  .mi { color: $color-hl-blue8; } /* Literal.Number.Integer */
  .mo { color: $color-hl-blue8; } /* Literal.Number.Oct */
  .sb { color: $color-hl-red1; } /* Literal.String.Backtick */
  .sc { color: $color-hl-red1; } /* Literal.String.Char */
  .sd { color: $color-hl-red1; } /* Literal.String.Doc */
  .s2 { color: $color-hl-red1; } /* Literal.String.Double */
  .se { color: $color-hl-red1; } /* Literal.String.Escape */
  .sh { color: $color-hl-red1; } /* Literal.String.Heredoc */
  .si { color: $color-hl-red1; } /* Literal.String.Interpol */
  .sx { color: $color-hl-red1; } /* Literal.String.Other */
  .sr { color: $color-hl-green2; } /* Literal.String.Regex */
  .s1 { color: $color-hl-red1; } /* Literal.String.Single */
  .ss { color: $color-hl-violet4; } /* Literal.String.Symbol */
  .bp { color: $color-hl-gray3; } /* Name.Builtin.Pseudo */
  .vc { color: $color-hl-teal4; } /* Name.Variable.Class */
  .vg { color: $color-hl-teal4; } /* Name.Variable.Global */
  .vi { color: $color-hl-teal4; } /* Name.Variable.Instance */
  .il { color: $color-hl-blue8; } /* Literal.Number.Integer.Long */
}
