@use "_variables.scss";

.post_layout {
  header {
    position: relative;

    time {
      color: variables.$color-brown;
      margin-bottom: variables.$section-vmargin;
      line-height: variables.$para-line-height;
      display: block;
    }

    @media (min-width: variables.$header-breakpoint-width) {
      h1 {
        width: 75%;  // do not overlap date on the right
      }

      time {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0
      }
    }
  }

  ol, ul {
    margin-left: 1.4em;
  }

  p.update {
    font-style: italic;
  }

  .footnotes {
    border-top: 1px solid variables.$color-green-dark;
    margin-top: 2 * variables.$para-vmargin;
  }
}
