$font-header: "News Cycle", sans-serif;
$font-body: Roboto, sans-serif;
$font-code: Inconsolata, monospace;

$header-line-height: 1.2;
$code-line-height: 1.2;
$para-line-height: 1.6;

$list-item-style-hmargin: 1.1em;

$color-black: #000;
$color-white: #fff;
$color-green-light: #edf8b8;
$color-green-dark: #9dd49f;
$color-blue-light: #519a95;
$color-blue-dark: #4a646b;
$color-brown: #5f5555;
$color-gray: lighten(black, 20%);

$main-column-max-width: 720px;
$main-column-min-width: 320px;
$header-breakpoint-width: 440px;    // pick value between $main-column-{min,max}-width
$articles-breakpoint-width: 640px;  // pick value between $main-column-{min,max}-width

$section-hmargin: 20px;
$section-vmargin: 30px;
$section-max-width: $main-column-max-width - 2 * $section-hmargin;
$section-min-width: $main-column-min-width - 2 * $section-hmargin;

$para-vmargin: 20px;

$footer-height: 60px;  // must be fixed in order to be absolutely positioned to page bottom
